<html lang="en">
<head>
      <link rel="icon" type="image/x-icon" href="logo.png">
<meta name="viewport" content="width=device-width, initial-scale=1" /> 
<title>Cloudbin.tech - #1 Most Secure Paste tool since 2023</title>
<meta name="title" content="Cloudbin.tech - #1 Most Secure Paste tool since 2023" />
<meta name="description" content="Cloudbin A web application that allows you to upload text anonymously and 100% encrypted military grade security and totally private!" />


<meta property="og:type" content="website" />
<meta property="og:url" content="https://cloudbin.tech" />
<meta property="og:title" content="Cloudbin.tech - #1 Most Secure Paste tool since 2023" />
<meta property="og:description" content="Cloudbin A web application that allows you to upload text anonymously and 100% encrypted military grade security and totally private!" />
<meta property="og:image" content="logo.png" />


<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content="https://cloudbin.tech" />
<meta property="twitter:title" content="Cloudbin.tech - #1 Most Secure Paste tool since 2023" />
<meta property="twitter:description" content="Cloudbin A web application that allows you to upload text anonymously and 100% encrypted military grade security and totally private!" />
<meta property="twitter:image" content="logo.png" />
</head>
<style>
  body {
    background:  #000f13;
    background-color:  #000f13;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
 
  }
  .text_zone{
        background: #1d2225;
    background-color: #1d2225;
       color: white;
          padding: 15px;
       font-family: 'Roboto', sans-serif;
       margin: 25px;
  }
  label {
    color: white;
  }

  #check:not(:checked)+#area {
    display: none;
  }

  .logo {
    margin: 2px;
  }
</style>

<div class="text_zone">
<p class="code">{{paste}}</p>
</div>
 <center><p style="color:white;">Copyright © 2023 Cloudbin. All rights reserved.</p></center>
  <link rel="stylesheet" href="/path/to/styles/default.min.css">
<script src="/path/to/highlight.min.js"></script>
<script>hljs.highlightAll();
document.querySelectorAll('p.code').forEach(el => {
  // then highlight each
  hljs.highlightElement(el);
});</script>
</div>